body{
    background-color: rgb(0, 0, 0);
    height: 100vh; /*unidad VIEWPORT HEIGHT*/
    width: 100vw;  /*unidad VIEWPORT HEIGHT*/
}
.contenedor{
    background-color: blue;
    height: 100%;   
    width: 100%;
    display: flex;
}

.Izquierda{
    background-color: red;
}

.Derecha{
    background-color: yellow;
}